include LICENSE
include NOTICE
include README.md
include TECHNICAL.md

recursive-include Aqua/_vendor *.cpp *.cu *.h
recursive-include Aqua/bigvgan/cuda *.cpp *.cu *.h
recursive-include Aqua/bigvgan/torch *.py

prune benchmarks
prune tools
prune examples
