include LICENSE
include NOTICE
include README.md
include README.zh.md
include TECHNICAL.md
include CHANGELOG.md
include PUBLISHING.md

recursive-include aquatts/_vendor *.cpp *.cu *.h
recursive-include aquatts/bigvgan/cuda *.cpp *.cu *.h
recursive-include aquatts/bigvgan/torch *.py
